/* Remove default margins */
* {
  margin: 0;
}

body {
  max-width: 100%;
  background-color: lightgrey
}

/* Logo image */
img {
  max-width: 3rem;
  max-height: 3rem;
}

/* Logo text */
.heading {
  font-size: 250%;
  padding: 20px 0;
  vertical-align: middle;
  background-color: white;
}

.heading, .game-area {
  text-align: center;
  font-family: "Arial";
}

/* Quiz length selection area */
#quiz-length-selection {
  height: 140px;
}

#quiz-length-selection>p {
  font-size: 125%;
  margin: 30px 15px;
}

/* Style radio buttons to look like round clickable buttons with text */
input[type="radio"] {
  display: none;
}

label {
  text-align: center;
  border-radius: 50%;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  color: white;
}

/* Quiz length selection radio buttons - colour when unselected and selected */

/* Extra padding needed as '5' is only one digit, and the label should be the
    same size as the others */
#beginner + label {
  border: 5px solid darkred;
  background-color: darkred;
  padding: 15px 19px;
}

#beginner:checked + label {
  background-color: red;
}

#intermediate + label {
  border: 5px solid saddlebrown;
  background-color: saddlebrown;
}

#intermediate:checked + label {
  background-color: darkorange;
}

#advanced + label {
  border: 5px solid darkgreen;
  background-color: darkgreen;
}

#advanced:checked + label {
  background-color: limegreen;
}

#expert + label {
  border: 5px solid navy;
  background-color: navy;
}

#expert:checked + label {
  background-color: dodgerblue;
}

/* Main game area size - default */
.game-area {
  margin-top: 20px;
  height: 100%;
}

/* Score and Timer text size - default */
.score-area, .timer-area {
  padding: 15px 0;
  font-size: 180%;
}

/* Question text size - default */
#question {
  margin: 10px;
  font-size: 160%;
}

/* All buttons - size, text and shape */
button {
  border-radius: 50%;
  border: 6px solid;
  color: white;
  width: 200px;
  height: 100px;
  margin: 20px;
  font-size: 150%;
  vertical-align: middle;
}

/* Answer buttons - colour */
#answer1 {
  background-color: red;
  border-color: darkred;
}

#answer2 {
  background-color: darkorange;
  border-color: saddlebrown;
}

#answer3 {
  background-color: limegreen;
  border-color: darkgreen;
}

#answer4 {
  background-color: dodgerblue;
  border-color: navy;
}

/* Quit, Play and Next buttons - colour */

#quit-button {
  background-color: grey;
  border-color: black;
}

#play-button {
  background-color: yellow;
  border-color: goldenrod;
  color: black;
}

#next-button {
  background-color: purple;
  border-color: indigo;
}

/* Media query to set the size of buttons for both laptops and
  tablets*/
@media screen and (max-width:1024px) {
  button {
    width: 170px;
    height: 85px;
    margin: 10px;
    font-size: 140%;
  }
}

/* Media query for tablets - make logo and text smaller to fit on
  medium size screens */
@media screen and (max-width:784px) {
  img {
    max-width: 2.5rem;
    max-height: 2.5rem;
  }

  .heading {
    font-size: 200%;
  }

  .score-area, .timer-area {
    font-size: 150%;
  }

  #question {
    font-size: 140%;
  }

  /* Makes sure answers display as a 2x2 grid, rather than 3 on the first
    line and 1 on the second */
  .answers {
    column-count: 2;
  }
}

/* Media query for mobiles - make logo, buttons and text smaller to fit
  on small screens */
@media screen and (max-width:425px)
{
  img {
    max-width: 2rem;
    max-height: 2rem;
  }

  .heading {
    font-size: 165%;
  }

  .score-area, .timer-area {
    padding: 10px 0;
    font-size: 125%;
  }

  #question {
    font-size: 120%;
  }

  button {
    width: 120px;
    height: 60px;
    margin: 5px;
    font-size: 90%;
  }

  label {
    padding: 8px;
    margin-left: 8px;
    margin-right: 8px;
  }

  /* Extra padding needed as '5' is only one digit, and the label should be the
      same size as the others */
  #beginner + label {
    padding: 8px 12px;
  }
}
