* {
  margin: 0;
}

body {
  background-color: lightgrey
}

img {
  max-width: 3rem;
  max-height: 3rem;
}

.heading {
  font-size: 250%;
  padding: 20px 0;
  vertical-align: middle;
  background-color: white;
}

.heading, .game-area {
  text-align: center;
  font-family: "Arial";
}

.game-area {
  margin-top: 20px;
  height: 100%;
}

.score-area {
  padding: 40px 0 20px 0;
  font-size: 180%;
}

#question {
  padding: 20px 0;
  font-size: 160%;
}

.answer-button {
  border-radius: 50%;
  border: 6px solid;
  color: white;
  width: 200px;
  height: 150px;
  margin: 30px;
  font-size: 150%;
  vertical-align: middle;
}

#answer1 {
  background-color: red;
  border-color: darkred;
}

#answer2 {
  background-color: darkorange;
  border-color: saddlebrown;
}

#answer3 {
  background-color: limegreen;
  border-color: darkgreen;
}

#answer4 {
  background-color: dodgerblue;
  border-color: navy;
}
