* {
  margin: 0;
}

.heading {
  font-size: 250%;
}

.heading, .game-area {
  margin-top: 30px;
  text-align: center;
  font-family: "Arial";
}

.game-area {
  background-color: lightgrey;
  height: 100vh;
}

.score-area {
  padding: 40px 0 20px 0;
  font-size: 180%;
}

#question {
  padding: 20px 0;
  font-size: 160%;
}

.answer-button {
  border-radius: 50%;
  border: 6px solid;
  color: white;
  width: 200px;
  height: 150px;
  margin: 30px;
  font-size: 150%;
  vertical-align: middle;
}
